* {
  box-sizing: border-box;
}

body {
  /* display: flex; */
  margin: 0;
  padding: 0;
}

nav {
  background-color: #F55A5A;
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  color: #fff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  /* letter-spacing: -0.075em; */
}